<body>
    <h1>Алгоритм Диффи-Хелмана</h1>
    <section class="input-area">
    <label>
        p
        <input type="number" name="p" min="0" max="100">
    </label>
    <label>
        g
        <input type="number" placeholder="Введите простое число" name="p" min="0" max="100">
    </label>
    <label>
        a
        <input type="number" name="a" min="0" max="100">
    </label>
    <label>
        b
        <input type="number" name="b" min="0" max="100">
    </label>
    </section>
</body>

<style>
    body {
        background-image: linear-gradient(#334c5e, 60%, #0c1216);
        font-family: Arial, Helvetica, sans-serif;
        color: azure;
    }

    h1 {
        font-size: 20px;
    }

    .input-area {
        display: flex;
        flex-direction: column;
    }

    .input-area label {
        margin: 10px;
    }
    .input-area label input {
        width: 150px;
    }
</style>